<% provide(:title, "Tech・IT ニュースメディア") %>
<h1>Tech・IT ニュースメディア</h1>
<br>
<p>
  <a href="https://wired.jp/">『WIRED』</a>
  はテクノロジーによって、生活や社会、カルチャーまでを包括したわたしたち自身の「未来がどうなるのか」についてのメディアです。<br>
  最新のテクノロジーニュースから、気になる人物インタヴューや先端科学の最前線など「未来のトレンド」を毎日発信。<br>
  WIRED（ワイアード）は、アメリカ合衆国で1993年に創刊された雑誌です。
  イギリス、イタリア、ドイツ、日本の4カ国でそれぞれ発行・発売されている。また、台湾では中国語版ウェブサイトが開設されている。
  <br>
  <br>
  <br>
  <a href="https://jp.techcrunch.com/">『Tech Crunch』</a>
  はスタートアップ企業の紹介やインターネットの新しいプロダクトのレビュー、そして業界の重要なニュースを扱うテクノロジーメディアです。<br>
  日本版TechCrunchは海外版記事の情報だけではなく、日本独自の視点からも情報を発信しています。<br>
  TechCrunch（テッククランチ）は、アメリカのブログサイト（ニュースサイト）であり、主にIT系の起業家、経営者が主な読者対象者であり、その他デベロッパー（ソフトウェア製作者）やデザイナー、マーケッター（マーケティング担当者）の読者が多い。
  <br>
  <br>
  <br>
  <a href="https://www.recode.net/">『Recode』</a>
  は英語のサイトのみですが、IT・TECH系ニュースが紹介されているメディアです。Recode is an independent tech news, reviews and analysis site, from the most informed and respected journalists in technology and media. 
  <a href="https://www.youtube.com/watch?v=SQYBLeV6sbM">Code Conference</a>などでは、日本では観る機会が少ない内容をチェック出来ます。
  <br>
  <br>
  <br>
  <a href="https://www.siliconvalley.com/">『SiliconValley.com』</a>
  はシリコンバレーのニュースに特化したサイトです。シリコンバレーのトレンドは、そのまま世界のトレンドにもなり得るため、IT業界の中では非常に重要な位置を占めています。そのシリコンバレー周辺のニュースをいち早くゲットするためにとても有用なメディアです。(英語のサイトのみ)
  <br>
  <br>
  <br>
  <a href="https://jp.techcrunch.com/">『TechWave』</a>
  は2010年にライブドア社と湯川鶴章によって開設された。<br>
  TechWave（テックウェーブ）は、国内外のインターネット事情やITベンチャー企業の動向を取り扱っている日本のブログサイトである。<br>
  2016年12月、運営母体株式会社テックウェーブを設立。<br>
  日本版TechCrunchは海外版記事の情報だけではなく、日本独自の視点からも情報を発信しています。
  <br>
  <br>
  <br>
  <a href="https://techable.jp/">『Techable』</a>
  は、テクノロジー、ソーシャルメディア、マーケティングの最新トレンドや、次代をつくる国内外のスタートアップベンチャーのニュースを配信するニュースサイトです。
  <br>
  <br>
  <br>
  <a href="https://www.techinasia.com/">『Tech In Asia』</a>
  は、アジアに焦点を当てたテックやスタートアップのニュースを提供するため、2011年に設立。 インターネット・コミュニティ、とりわけ、アジアの発展に貢献すると考えている。(英語のサイトのみ)
  <br>
  <br>
  <br>
  <a href="http://www.itmedia.co.jp/">『ITmedia』</a>
  はテクノロジー関連のニュース及び速報を中心に、レビューや特集記事を掲載。<br>
  ITmedia（アイティメディア）は、ソフトバンクグループ傘下のアイティメディア株式会社が運営するIT系ニュースサイトです。<br>
  ソフトバンクグループ子会社で出版・ブロードバンドコンテンツ等のメディアやマーケティング事業を統括する純粋持株会社「SBメディアホールディングス株式会社」の傘下にある。<br>
  <br>
  <br>
  <br>
</p>