<% provide(:title, '伊藤由利子のプロフィール') %>
<h1>プロフィール</h1>
  <dl>
  <dt>好きなこと：</dt>
    <dd>クリエイティブなこと・海外旅行</dd>
  </dl>
<p>ブログをみる<a href="https://www.happycreator.work/" target="_blank">HappycreatorのBlog</a></p>