<% provide(:title, '伊藤由利子のプロフィール') %>
<h1>プロフィール</h1>
<p>
  伊藤 由利子 (いとう ゆりこ）<br>
  大阪の<a href="https://ja.wikipedia.org/wiki/%E4%B8%AD%E4%B9%8B%E5%B3%B6_(%E5%A4%A7%E9%98%AA%E5%BA%9C)">中之島</a>出身、東京都新宿区在住<br>
  <br>
  芸術系の大学・大学院を卒業後に <a href="https://ja.wikipedia.org/wiki/%E3%83%8B%E3%83%A5%E3%83%BC%E3%83%A8%E3%83%BC%E3%82%AF">New York</a>へ渡米<br>
  New Yorkでは<a href="https://ja.wikipedia.org/wiki/%E3%83%91%E3%83%BC%E3%82%BD%E3%83%8A%E3%83%AB%E3%83%96%E3%83%A9%E3%83%B3%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0">パーソナル・ブランディング</a>と<a href="https://ja.wikipedia.org/wiki/%E3%82%A4%E3%83%A1%E3%83%BC%E3%82%B8%E3%82%B3%E3%83%B3%E3%82%B5%E3%83%AB%E3%82%BF%E3%83%B3%E3%83%88">イメージ・コンサルティング</a>を主に学び、帰国後に東京で起業。<br>
  <br>
  現在は<a href="https://condenast.jp/">コンデナスト・ジャパン</a>に在籍<br>
  コンデナスト・ジャパンは、世界22の国と地域で展開しているファッション誌<a href="https://ja.wikipedia.org/wiki/%E3%83%B4%E3%82%A9%E3%83%BC%E3%82%B0_(%E9%9B%91%E8%AA%8C)">『VOGUE』</a>などを掲げてグローバルに事業を展開する米国 <a href="http://www.condenast.com/">コンデナスト・パブリケーションズ</a>の日本法人です。<br>
  <a href="https://www.vogue.co.jp/">『VOGUE JAPAN』</a><a href="https://gqjapan.jp/">『GQ JAPAN』</a><a href="https://wired.jp/">『WIRED』</a>などの発行 |<a href="https://condenast.jp/creativestudio/">Condé Nast Creative Studio、</a><a href="http://condenastvideo.jp/">Condé Nast Japan,Video Business、</a><a href="https://condenast.jp/voguestudio/works/">VOGUE STUDIO</a>などの事業<br>
  <br>
  好きなこと：クリエイティブなこと、海外旅行、長期的な関係<br>
  <br>
  趣味：ゴルフ＆英会話のレッスン（週1でコーチより指導を受ける）
</p>