<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      正しい内容で、各項目を埋めてアカウントの登録をして下さい。<br> <%= pluralize(object.errors.count, "つの入力フォームに誤りがあります。") %>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>