<footer class="footer">
  <small>
    <a href="https://sharing-tech.herokuapp.com/">SHARING TECH</a>
    by <a href="http://facebook.com/yuri1209">Yuriko Ito</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Tech・IT ニュースメディア",   about_path %></li>
      <li><%= link_to "伊藤由利子のプロフィール", contact_path %></li>
    </ul>
  </nav>
</footer>