<footer class="footer">
  <small>
    <a href="https://sharing-tech.herokuapp.com/">SHARING TECH by Yuriko Ito</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "プロフィール", contact_path %></li>
    </ul>
  </nav>
</footer>